.date {
  width: 65px;
  font-size: 12px;
  padding: 0;
  margin-right: 10px;
  font-weight: bold;
}

ion-label h4{
  font-weight: bold;
}

ion-label p{
  font-size: 12px;
  margin: 0;
}

ion-buttons {
  padding: 0;
  margin: 0;
}