<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Not Defteri
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list lines="full">
    <ion-item button *ngFor="let note of (notes | async)" (click)="showModal(note.id)">
      <p class="date" slot="start">{{note.date.toDate() | date: 'dd.MM.yyyy'}}</p>
      <ion-label>
        <h4>{{note.title}}</h4>
        <p>{{note.notes}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showModal(true)" size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
